@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 26%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 26%;
    --muted-foreground: 240 5% 64%;
    --accent: 221 83% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 26%;
    --input: 240 5% 26%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.message-bubble {
  max-width: 80%;
  border-radius: 14px;
}

.message-bubble.sent {
  border-bottom-right-radius: 4px;
  margin-left: auto;
  background-color: #aeccf9;
  color: #000;
}

.message-bubble.received {
  border-bottom-left-radius: 4px;
  margin-right: auto;
  background-color: #4ddcbf;
  color: #fff;
}
